#Android generated
bin
gen
local.properties
#lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle
.factorypath
.apt_generated

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out
gen-external-apklibs

#Gradle
.gradle
build

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties

#Proguard
#proguard.cfg
proguard-project.txt

#Emacs
\#*#
*~

#Other
.DS_Store
.directory
\#*
.#*
